---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    adminer: "{{ ansible_operator_meta.name }}"
    app: adminer
    site: "{{ ansible_operator_meta.name }}"
  name: "{{ ansible_operator_meta.name }}-adminer"
  namespace: "{{ ansible_operator_meta.namespace }}"
{% if deployment_custom_annotations %}
  annotations:
    {{ deployment_custom_annotations | indent(width=4) }}
{% endif %}
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      adminer: "{{ ansible_operator_meta.name }}"
  template:
    metadata:
      labels:
        adminer: "{{ ansible_operator_meta.name }}"
        site: "{{ ansible_operator_meta.name }}"
        app: adminer
      annotations:
        kubernetes.io/change-cause: "{{ change_cause }}"
{% if deployment_custom_annotations %}
        {{ deployment_custom_annotations | indent(width=8) }}
{% endif %}
    spec:
      containers:
        - name: adminer
          image: "{{ adminer_image }}"
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: "{{ ansible_operator_meta.name }}.drupal-secrets"
                  key: db_database
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: "{{ ansible_operator_meta.name }}.drupal-secrets"
                  key: db_user
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ ansible_operator_meta.name }}.drupal-secrets"
                  key: db_password
          ports:
            - name: http
              containerPort: {{ adminer_container_port | int }}
