---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: "{{ ansible_operator_meta.name }}-auto-db-backup"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  schedule: "{{ backup_cron_schedule }}"
  successfulJobsHistoryLimit: "{{ backup_cron_successfulJobsHistoryLimit }}"
  failedJobsHistoryLimit: "{{ backup_cron_failedJobsHistoryLimit }}"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: auto-db-backup
              image: ozziio/mysql-backup-s3
              imagePullPolicy: IfNotPresent
              env:
                - name: S3_ACCESS_KEY_ID
                  valueFrom:
                    secretKeyRef:
                      name: "auto-db-backup-secret"
                      key: aws_access_key
                - name: S3_SECRET_ACCESS_KEY
                  valueFrom:
                    secretKeyRef:
                      name: "auto-db-backup-secret"
                      key: aws_secret_access_key
                - name: S3_REGION
                  valueFrom:
                    secretKeyRef:
                      name: "auto-db-backup-secret"
                      key: region
                      optional: true
                - name: S3_BUCKET
                  valueFrom:
                    secretKeyRef:
                      name: "auto-db-backup-secret"
                      key: bucket
                - name: S3_ENDPOINT
                  optional: 1
                  valueFrom:
                    secretKeyRef:
                      name: "auto-db-backup-secret"
                      key: endpoint
                      optional: true
                - name: DEBUG
                  valueFrom:
                    secretKeyRef:
                      name: "auto-db-backup-secret"
                      key: debug
                      optional: true
                - name: S3_PREFIX
                  value: "{{ ansible_operator_meta.name }}"
                - name: MYSQL_HOST
                  value: "{{ ansible_operator_meta.name }}-db"
                - name: MYSQL_PORT
                  value: "{{ db_port }}"
                - name: MYSQLDUMP_DATABASE
                  valueFrom:
                    secretKeyRef:
                      name: "{{ ansible_operator_meta.name }}.drupal-secrets"
                      key: db_database
                - name: MYSQL_USER
                  valueFrom:
                    secretKeyRef:
                      name: "{{ ansible_operator_meta.name }}.drupal-secrets"
                      key: db_user
                - name: MYSQL_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: "{{ ansible_operator_meta.name }}.drupal-secrets"
                      key: db_password
          restartPolicy: Never
