---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ ansible_operator_meta.name }}.drupal-secrets"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    app: drupal
    site: "{{ ansible_operator_meta.name }}"
    drupal: "{{ ansible_operator_meta.name }}"
type: Opaque
data:
  db_database: "{{ drupal_db | b64encode }}"
  db_password: "{{ drupal_db_pass | b64encode }}"
  db_user: "{{ drupal_db_username | b64encode }}"
  password: "{{ drupal_password | b64encode }}"
  user: "{{ drupal_user | b64encode }}"
