---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: "{{ ansible_operator_meta.name }}-files-pvc"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    app: drupal
    site: "{{ ansible_operator_meta.name }}"
    drupal: "{{ ansible_operator_meta.name }}"
spec:
  storageClassName: "{{ files_pvc }}"
  accessModes:
    - "{{ files_accessmode }}"
  resources:
    requests:
      storage: "{{ files_pvc_size }}"
