---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: "{{ ansible_operator_meta.name }}-db"
  namespace: "{{ ansible_operator_meta.namespace }}"
{% if deployment_custom_annotations %}
  annotations:
    {{ deployment_custom_annotations | indent(width=4) }}
{% endif %}
spec:
  replicas: 1
  selector:
    matchLabels:
      db: "{{ ansible_operator_meta.name }}"
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: mariadb
        site: "{{ ansible_operator_meta.name }}"
        db: "{{ ansible_operator_meta.name }}"
{% if deployment_custom_annotations %}
      annotations:
    {{ deployment_custom_annotations | indent(width=10) }}
{% endif %}

    spec:
      containers:
        - name: mariadb
          image: "{{ db_image }}"
          imagePullPolicy: "IfNotPresent"
          resources:
            requests:
              memory: "{{ db_resources_requests_memory }}"
              cpu: "{{ db_resources_requests_cpu }}"
            limits:
              memory: "{{ db_resources_limits_memory }}"
              cpu: "{{ db_resources_limits_cpu }}"
          ports:
            - containerPort: {{ db_container_port | int }}
          env:
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: "{{ ansible_operator_meta.name }}.drupal-secrets"
                  key: db_database
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: "{{ ansible_operator_meta.name }}.drupal-secrets"
                  key: db_user
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ ansible_operator_meta.name }}.drupal-secrets"
                  key: db_password
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ ansible_operator_meta.name }}.mariadb-secrets"
                  key: root_password
          volumeMounts:
            - mountPath: /var/lib/mysql/
              name: drupal-db
      volumes:
        - name: drupal-db
          persistentVolumeClaim:
            claimName: "{{ ansible_operator_meta.name }}-db-pvc"
