---
kind: Service
apiVersion: v1
metadata:
  name: "{{ ansible_operator_meta.name }}-db"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    app: mariadb
    site: "{{ ansible_operator_meta.name }}"
spec:
  type: NodePort
  ports:
    - port: {{ db_port | int }}
      targetPort: {{ db_container_port | int }}
  selector:
    db: "{{ ansible_operator_meta.name }}"
